/* global css file */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  height: 100%;

}

body{
  position: relative;
}


.app-container{
  width: 80%;
  margin: auto;
}


.navbar{
  width: 100%;
  /* border: 1px solid red; */
  left: 0;
  position: absolute;
}

.nav-container{
  /* border: 1px solid black; */
  padding: 15px 0;
  /* height: 7vh; */
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.nav-left{
  display: flex;
  align-items: center;
  width: 40em;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.nav-left .link{
  text-decoration: none;
  color: black;
  margin: 0 20px;
}